<%
    // Asumiendo que 'title' ya viene del controlador: "Programa Ágora | Servicios"
%>

<%- include('partials/header') %> 

<main id="main-content" role="main" aria-labelledby="servicios-title">
    
    <section class="hero-subpage">
        <h1 id="Capacitaciones" class="page-title">Nuestros cursos: Cómo te ayudamos a capacitarte para el empleo</h1>
    </section>

    

</main>

<%- include('partials/footer') %>